.childController .controlItem {
    background-color: #9c2f00;
    color: #f5b28e;
}

#parentController .controlItem {
    background-color: #014a52;
    color: #7deefa;
}

code {
    color: #ff75ba;
}

.controlItem {
    border-radius: 5px;
    margin: 0.5em 1em;
    padding: 0.25em 0.5em;
}

    .controlItem > h5 {
        display: inline-block;
    }

    .controlItem > svg {
        margin-bottom: 1em;
    }

    .controlItem > svg:hover {
        cursor: pointer;                     
    }

    .controlItem > div > div {
        margin-left: 1em;
    }

        .controlItem > div > div label:hover {
            cursor: pointer;
        }
