.childController .controlItem{
    background-color: lightsalmon;
}

#parentController .controlItem {
    background-color: lightblue;
}

.controlItem {
    border: 1px solid black;
    border-radius: 5px;
    margin: 0.5em 1em;
    padding: 0.25em 0.5em;
}

    .controlItem > div > div {
        margin-left: 1em;
    }

        .controlItem > div > div label:hover {
            cursor: pointer;
        }
