/* /Pages/ChildController.razor.rz.scp.css */

input[type=number][b-wyq3teb8i7] {
    border-radius: 5px;
    width: 3em;
}
/* /Pages/Index.razor.rz.scp.css */
small[b-nlkj8mzz57] {
    margin: .5em;
}

#flexboxDemo[b-nlkj8mzz57] {
    display: flex;
    flex-direction: row;
    height: 100vh; 
    justify-content: stretch;
}

.elementsContainer[b-nlkj8mzz57] {
    background-color: lightblue;
    font-weight: bold;
    overflow-y: auto;
}

.flexboxParent[b-nlkj8mzz57] {
    height: fit-content;
    display: flex;
}

.flexboxChild[b-nlkj8mzz57] {
    border: 1px solid black;
    margin: 1em;
    padding: .5em 1em;
    border-radius: 5px;
    background-color: lightsalmon;
}

.flexboxChild p[b-nlkj8mzz57] {
    margin: 0;
}

.section[b-nlkj8mzz57] {
    /*align-self: stretch;
    width: 50vh;*/
    flex-basis: 50%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1em;
}

.userInputs[b-nlkj8mzz57] {
    display: flex;
    flex-direction: column;
}

.addRemoveBtns[b-nlkj8mzz57] {
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0;
}

.addRemoveBtns button[b-nlkj8mzz57] {
    border-radius: 5px;
    padding: .5em 1em;
}

.addBtn[b-nlkj8mzz57] {
    background-color: lightgreen;
}

.removeBtn[b-nlkj8mzz57] {
    background-color: lightcoral;
    color: white;
}

#childrenControllers[b-nlkj8mzz57] {
    overflow-y: auto;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-49rvrc6dka] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-49rvrc6dka] {
    flex: 1;
}

.sidebar[b-49rvrc6dka] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-49rvrc6dka] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-49rvrc6dka]  a, .top-row[b-49rvrc6dka]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-49rvrc6dka]  a:hover, .top-row[b-49rvrc6dka]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-49rvrc6dka]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-49rvrc6dka] {
        display: none;
    }

    .top-row.auth[b-49rvrc6dka] {
        justify-content: space-between;
    }

    .top-row[b-49rvrc6dka]  a, .top-row[b-49rvrc6dka]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-49rvrc6dka] {
        flex-direction: row;
    }

    .sidebar[b-49rvrc6dka] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-49rvrc6dka] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-49rvrc6dka]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-49rvrc6dka], article[b-49rvrc6dka] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-rwlvhwuokz] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-rwlvhwuokz] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-rwlvhwuokz] {
    font-size: 1.1rem;
}

.oi[b-rwlvhwuokz] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-rwlvhwuokz] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-rwlvhwuokz] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-rwlvhwuokz] {
        padding-bottom: 1rem;
    }

    .nav-item[b-rwlvhwuokz]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-rwlvhwuokz]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-rwlvhwuokz]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-rwlvhwuokz] {
        display: none;
    }

    .collapse[b-rwlvhwuokz] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
